{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
<h1>Pushes</h1>
<p>You have <strong>{{ pushes.length }}</strong> pushes!</p>
<input placeholder="Push text" id="pushText" type="text" class="validate">
<a class="btn-floating btn-large waves-effect waves-light red" onclick="addPush()"><i class="material-icons">+</i></a>

<p><a href="/push/new">Create a Post</a></p>
<ul id="pushesList">
    {% for push in pushes %}
    <li>
        <h2>{{ push.text }}</h2>
        <p><a href="/push/{{ push.id }}">Read push</a></p>
    </li>
    {% endfor %}
</ul>
<script>
    function addPush() {
        const element = document.getElementById('pushText');
        const text = element.value || 'no test';
        element.value = '';
        axios.post('/push', {
            headers: { 'Content-Type': 'application/json' },
            data: text
        }).then(() => {
            console.log('OK');
        }).catch(error => {
            console.log('not ok' + error.message);
        });
    }
</script>
{% endblock %}